body {
  margin: 0; }

.top .column-1 {
  width: 200px;
  height: 255px;
  float: left;
  margin: 0 0 0 230px; }

.top .column-2 {
  width: 31px;
  height: 300px;
  float: left;
  margin: 0 0 0 10px; }

.top .column-3 {
  width: 500px;
  height: 275px;
  float: left;
  background-color: #80C0E9;
  color: #fff;
  border-radius: 2%;
  margin: 0 0 0 10px; }

.top:nth-child(even) .column-3 {
  background-color: #5096C6; }

.date {
  color: #D5E8F2;
  font-size: 12px;
  text-align: right; }

.time {
  color: #89C0E8;
  font-size: 2rem;
  text-align: right; }

h1 {
  border-bottom: 1px solid #fff;
  padding: 20px;
  margin-top: 0; }

p {
  text-align: center;
  margin: 20px 10px 0 10px; }

.timeline-bar {
  height: 255px;
  width: 31px;
  position: relative; }

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #5EA5D4;
  border: 3px solid #B8DCF5; }

.thick-line {
  width: 6px;
  height: 310px;
  background-color: #B8DCF5;
  position: absolute;
  margin: 0 0 0 12px; }

.top:nth-child(even) .time {
  color: #5096C6; }

.clearfix, .top {
  overflow: auto;
  zoom: 1; }
