.top {
  @extend .clearfix;


  .column-1 {
    width: 200px;
    height: 255px;
    float: left;
    margin: 0 0 0 230px;
  }

  .column-2 {
    width: 31px;
    height: 300px;
    float: left;
    margin: 0 0 0 10px;
  }

  .column-3 {
    width: 500px;
    height: 275px;
    float: left;
    background-color: #80C0E9;
    color: #fff;
    border-radius: 2%;
    margin: 0 0 0 10px;
  }

  &:nth-child(even) .column-3 {
    background-color: #5096C6;
  }


}
